@model ChangePasswordModel

@{
    ViewBag.Title = Translate("ChangePassword").Text;
}

<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-user"></i> <span class="font-weight-semibold">@Translate("ChangePassword").Text</span></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <div class="card-body">
            <form method="post" asp-action="ChangePassword" asp-controller="Account" id="frmAddEdit" onsubmit="ShowLoading();">
                <div class="form-row">
                    @*<div class="col-md-4 mb-3">
                        <label for="validationCustom01">OldPassword</label>
                        <input asp-for="OldPassword" type="password" class="form-control" maxlength="250" />
                        <span asp-validation-for="OldPassword"></span>
                    </div>*@
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">@Translate("Password").Text</label>
                        <input asp-for="Password" type="password" class="form-control" maxlength="250" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">@Translate("ConfirmPassword").Text</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" maxlength="250" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-success">  @Translate("Submit").Text <i class="icon-checkmark ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>