@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "ForgotPassword";
}
<div class="page-content login-bg">
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">
            <!-- Login form -->
            <form class="login-form" method="post" asp-action="ForgotPassword" asp-controller="Account" id="frmAddEdit" onsubmit="ShowLoading();">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <h5 class="mb-0">ForgotPassword</h5>
                        </div>
                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">ForgotPassword <i class="icon-circle-left2 mr-2"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /login form -->
        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->
</div>